.title {
  background-image: url('/icons/logo.svg');
  background-position: right 5px center;;
  background-repeat: no-repeat;
  background-color: #4a86e8ff;
  padding: 12px 20px 12px 10px; /* Add some padding */
  color: white;
  font-weight: bold;
}

.favorite {
  padding-right: 7px;
}

.title a {
  color: white;
  text-decoration: none;
}

.footer {
 text-align: right;
}

input {
  outline:none;
  box-sizing:border-box
}

#appSearch {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#results td a {
  margin-top: -1px; /* Prevent double borders */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

.withfocus {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.wrapper {
   width: 450px;
   margin-left: auto;
   margin-right: auto;
   font-family: sans-serif;
}

